@import 'vars';


// CHANGE LIST ----------------------------------------------------------------
.field-_col_move_node {
    box-sizing: content-box;
    width: 20px;
}

.admin-sort-drag {
    display: block;
    width: 20px;
    height: 20px;
    cursor: move;
    background-image: $drag-img;
    background-position: left top;
    background-repeat: repeat;
    background-size: 8px 8px;

}

tr.admin-sort-chosen {
    background-color:  var(--primary);

    a {
        color: var(--primary-fg);
    }
}


/*
.sortable-drag {
    opacity: 0.001;
}
*/

/*
.admin-sort-ghost {
    //display: none;
}
*/