$drag-img: url(
    "data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23aaa' d='M0 0h4v4H0V0z'/%3e%3c/svg%3e"
);

// CHANGE LIST ----------------------------------------------------------------
.field-_col_move_node {
    box-sizing: content-box;
    width: 20px;
}

.admin-sort-drag {
    display: block;
    width: 20px;
    height: 20px;
    cursor: move;
    background-image: $drag-img;
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;

}

tr.admin-sort-chosen {
    background-color:  var(--primary);

    a {
        color: var(--primary-fg);
    }
}

.sortable-drag {
    opacity: 0.001;
}


/*
.admin-sort-ghost {
    //display: none;
}
*/