.admin-sort-drag {
  display: block;
  width: 40px;
  height: 40px;
  background-color: pink;
  cursor: move;
}

tr.admin-sort-chosen {
  background-color: rgba(121, 174, 200, 0.25);
}

.sortable-drag {
  opacity: 0.1;
}
