include README.md
include CHANGELOG.txt
recursive-include admin_sort *.py
recursive-include admin_sort/locale *
recursive-include admin_sort/static *
recursive-include admin_sort/templates *
recursive-include admin_sort/management *
recursive-exclude * *.pyc
