
. admin-sort-stacked .admin-sort-row  {
    position: relative;
    box-sizing: border-box;
    padding-left: 20px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        display: block;
        width: 20px;
        border: 1px solid #eee;
    }

    .admin-sort-drag {
        position: absolute;
        left: 7px;
        top: 6px;
        right: auto;
        bottom: 6px;
        display: inline-block;
        box-sizing: border-box;
        width: 10px;
        height: auto;
        background-image: url(../imgs/drag.svg);
        background-repeat: repeat;
        background-size: 5px 5px;
        cursor: move;
    }

    &.admin-sort-ghost {
        background-color: #c4dce8;

        h3,
        fieldset {
            background-color: transparent;
        }
    }
}

/* the drag */
.admin-sort-tabular .is_sortable .original,
.admin-sort-tabular .tabular tr.is_sortable.inline-fallback .original {
    position: relative;
    cursor: move;
    padding: 0 !important;
    width: 30px;
    /*border-top: 3px solid #fff;*/
    background: linear-gradient(
      to bottom,
      #ccc,
      #ccc 50%,
      #fff 50%,
      #fff
    ) !important;
    background-size: 100% 5px !important;
    border-bottom: 1px solid #eee;
}