/* Page Move */
#changelist-form-step,
#changelist-form-page {
    display: none;
    margin-left: 0.5em;
}

#changelist-form-step.active,
#changelist-form-page.active {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    line-height: 18px;
    padding: 0 0 0 4px;
}


.change-list #changelist .actions label {
    vertical-align: top;
}

/* sortable change list */
#result_list thead th:nth-child(2) {
    width: 120px;
}

#result_list tbody td.field-_reorder {
    position: relative;
    padding: 0 16px;
}

#result_list div.drag {
    position: absolute;
    top: 50%;
    width: 70%;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    background: transparent url("../imgs/drag.png") repeat scroll 0% 0% / 5px auto;
    transform: translateY(-50%);
}

#result_list .sortable-ghost {
    background: rgba(121, 174, 200, 1) none repeat scroll 0% 0%;
}

#result_list .sortable-ghost td,
#result_list .sortable-ghost th {
    opacity: 0;
}
#result_list .sortable-fallback {
    display: table;
    opacity: 1 !important;
    background: #fff;
    border: 1px solid #ddd;
}
#result_list .sortable-fallback .action-checkbox {
    width: 1.5em;
}
#result_list .sortable-fallback td:nth-child(2) {
    width: 120px;
    box-sizing: border-box;
}

/* sortable inlines */
.sortable .is_hidden {
    display: none;
}

.sortable-stacked .inline-related.is_sortable {
    box-sizing: border-box;
    padding-left: 40px;
    background-color: white;
}
.sortable-stacked .inline-related.is_sortable.inline-ghost {
    background-color: rgba(121, 174, 200, 1)
}

.sortable-stacked .inline-related.is_sortable.inline-ghost h3,
.sortable-stacked .inline-related.is_sortable.inline-ghost .drag,
.sortable-stacked .inline-related.is_sortable.inline-ghost fieldset {
    opacity: 0;
}

.sortable-stacked .inline-related.first-empty:not(.is_sortable) {
    margin-top: 3em;
}

.sortable-stacked .drag {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 1px;
    display: block;
    box-sizing: border-box;
    /*border: 5px solid #fff;*/
    width: 40px;
    /*background-image: url("../imgs/drag.png");*/
    /*background-size: 5px auto;*/
    background: linear-gradient(
      to bottom,
      #ccc,
      #ccc 50%,
      #fff 50%,
      #fff
    );
    background-size: 5px 5px;
    cursor: move;
}

/*.filer-gui-inline-related .field-position {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*display: block;*/
    /*box-sizing: border-box;*/
    /*width: 26px;*/
    /*height: 100%;*/
    /*padding: 0;*/
    /*border: 6px solid #fff;*/
    /*background: linear-gradient(*/
      /*to bottom,*/
      /*#ccc,*/
      /*#ccc 50%,*/
      /*#fff 50%,*/
      /*#fff*/
    /*);*/
    /*background-size: 100% 6px;*/
    /*cursor: grab;*/
/*}*/


/*.sortable-stacked .drag::before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*right: 0px;*/
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*width: 1px;*/
    /*background-color: #eee;*/
/*}*/

.sortable-stacked .drag::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 40px;
    height: 1px;
    background-color: #eee;
}

.sortable-tabular .tabular tr.is_sortable td {
    padding: 1em 5px;
}
.sortable-tabular .tabular tr.is_sortable.inline-ghost {
    background-color: rgba(121, 174, 200, 1)
}
.sortable-tabular .tabular tr.is_sortable.inline-ghost td,
.sortable-tabular .tabular tr.is_sortable.inline-ghost th {
    opacity: 0;
}
.sortable-tabular .tabular tr.is_sortable.inline-fallback {
    display: table;
    opacity: 1 !important;
    background-color: white;
}
.sortable-tabular .tabular tr.first-empty {
    border-top: 3em solid white;
}
.sortable-tabular .is_sortable .original,
.sortable-tabular .tabular tr.is_sortable.inline-fallback .original {
    cursor: move;
    padding: 0 !important;
    width: 20px;
    /*background-image: url("../imgs/drag.png");*/
    /*background-size: 5px auto;*/
    background: linear-gradient(
      to bottom,
      #ccc,
      #ccc 50%,
      #fff 50%,
      #fff
    );
    background-size: 100% 5px;
}
.sortable-tabular .is_sortable .original p {
    display: none
}


/* styles when djangocms-admin-style is installed */
.cms-admin-style #changelist-form-step.active,
.cms-admin-style #changelist-form-page.active {
    width: 70px !important;
    padding: 0 0 0 10px !important;
    margin-right: 0.5em;
    margin-top: 3px;
    line-height: 38px;
}

.cms-admin-style.change-list #changelist .actions .button {
    margin-top: 3px;
    line-height: 18px;
}

#result_list.cms-admin-style tbody td.field-_reorder {
    position: relative;
    padding: 0 68px 0 8px !important;
}

#result_list.cms-admin-style tbody td.field-_reorder div.drag {
    position: relative;
    top: auto;
    width: 100%;
    transform: translateY(0);
}

#result_list.cms-admin-style .sortable-ghost {
    background: rgba(0, 168, 230, 1) none repeat scroll 0% 0% !important;
}
#result_list.cms-admin-style .sortable-fallback {
    border: 1px solid #ddd;
    border-collapse: collapse !important;
}

.change-list #changelist #result_list.cms-admin-style tbody div.drag {
    max-width: 100%;
    height: 75%;
    margin: 0;
}
